<div class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= "navbar-transparant" if home_page?  %>">
  <%= link_to arts_path, class: "navbar-brand" do %>
    <%= image_tag "novoart.png", alt: "NOVO ART", width: 120 %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Upload Art Piece", new_art_path, class: "nav-link" %>
        </li>
        <li class="nav-item active">
          <%= link_to "My Bookings", profile_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= link_to profile_path do %>
            <%= image_tag "https://images.unsplash.com/flagged/photo-1570612861542-284f4c12e75f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&h=1050&q=80", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div> <!-- div closing the non homepage navbar -->
